body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.top {
    display: flex;
}

.halr-width {
    width: 50%;
    padding-left: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.half-width,
img {
    margin-top: 20%;
    margin-left: 10%;
}

.middle {
    display: flex;
    margin-bottom: 150px;
}

.